<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view transient="true">
    <h:head>
    </h:head>
    <h:body>
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <h:graphicImage value="images/ajaxloadingbar.gif"/>
        </p:dialog>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <h:form>
            <h:panelGrid columns="3">
                <h:outputLabel value="IKEA product code: "/>
                <h:inputText value="#{productPriceController.productCode}" required="true" id="inProductCode"/>
                <h:message for="inProductCode"/>
            </h:panelGrid>
            <h:commandButton action="#{productPriceController.searchOnIkeaSite}" value="Search on sites">
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>
            <h:dataTable rendered="#{not empty productPriceController.priceList}" value="#{productPriceController.priceList}" var="priceItem">
                <h:column>
                    <f:facet name="header">Country</f:facet>
                    #{priceItem.country}
                </h:column>
                <h:column>
                    <f:facet name="header">Price in local currency</f:facet>
                    #{priceItem.priceTag}
                </h:column>
                <h:column>
                    <f:facet name="header">Price in EUR using ECB rate</f:facet>
                    <h:outputText value="#{priceItem.priceInEur}">
                        <f:convertNumber pattern="#0.00" currencyCode="EUR"/>
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">Original link</f:facet>
                    <h:outputLink value="#{priceItem.itemUrl}" target="_blank">
                        #{priceItem.itemUrl}
                    </h:outputLink>
                </h:column>
            </h:dataTable><br/>
            <h:outputText rendered="#{(not empty productPriceController.productCode) and (empty productPriceController.priceList)}" value="Nothing found, check code"/>
            <h:messages/>
        </h:form>
        <br/>
    </h:body>
</f:view>
</html>
