<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:param name="originalURL" value="#{request.requestURI}?#{request.queryString}" />

    <f:metadata>
        <f:event rendered="#{empty userSession.profile}" type="preRenderView" listener="#{userSession.setOriginalURL(originalURL)}" />
    </f:metadata>
    <h:head>

    </h:head>
    <h:body>
    <h:form>
        <h:panelGroup rendered="#{empty userSession.profile}" id="socialButtons" >
            <h:commandLink id="facebook" action="#{userSession.socialConnect}" value="Facebook">
                <f:setPropertyActionListener target="#{userSession.providerID}" value="facebook" />
                <h:graphicImage value="/images/facebook_icon.png" />
            </h:commandLink>

            <h:commandLink id="google" action="#{userSession.socialConnect}" value="Google">
                <f:setPropertyActionListener target="#{userSession.providerID}" value="google" />
                <h:graphicImage value="/images/google-icon.jpg" />
            </h:commandLink>
        </h:panelGroup>

        <h:panelGrid columns="3" rendered="#{not empty userSession.profile}" >
            <h:graphicImage rendered="#{not empty userSession.profile.profileImageURL}" value="#{userSession.profile.profileImageURL}" />

            <h:outputText value="Hello, #{userSession.profile.fullName}" />

            <h:commandButton value="Log out" actionListener="#{userSession.logOut}" />
        </h:panelGrid>
    </h:form>
    </h:body>
</f:view>
</html>
