<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputScript name="js/jquery-1.11.2.min.js" />
        <h:outputScript name="bootstrap/js/bootstrap.js" />
    </h:head>
    <h:body>
        <h:outputLabel value="Hello, world"/>
        <h:dataTable value="#{userController.users}" var="usr" id="userTable" styleClass="table">
            <h:column>
                <f:facet name="header">ID</f:facet>
                #{usr.id}
            </h:column>
            <h:column>
                <f:facet name="header">Name</f:facet>
                #{usr.firstName}
            </h:column>

            <h:column>
                <f:facet name="header">Last name</f:facet>
                #{usr.lastName}
            </h:column>
            <h:column>
                <f:facet name="header">pass</f:facet>
                #{usr.password}
            </h:column>
            <h:column>
                <f:facet name="header">email</f:facet>
                #{usr.email}
            </h:column>
        </h:dataTable>
        <div class="panel">
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="First name"/>
                    <h:inputText value="#{userController.user.firstName}"/>

                    <h:outputLabel value="Last name"/>
                    <h:inputText value="#{userController.user.lastName}"/>

                    <h:outputLabel value="Password"/>
                    <h:inputSecret value="#{userController.user.password}"/>

                    <h:outputLabel value="e-mail:"/>
                    <h:inputText value="#{userController.user.email}"/>
                </h:panelGrid>
                <h:commandButton action="#{userController.addUser}">
                    <f:ajax execute="@form" render=":userTable @form"/>
                    Save user
                </h:commandButton>
            </h:form>
        </div>
    </h:body>
</f:view>
</html>
