<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<f:view transient="true">
<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>primestrap</title>
    </f:facet>

    <f:facet name="middle">
        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputScript name="js/jquery-1.11.2.min.js" />
        <h:outputScript name="bootstrap/js/bootstrap.js" />
    </f:facet>

    <f:facet name="last">

    </f:facet>

</h:head>
<h:body>
    <h:form>
        <div style="padding-top:112px">
            <div class="row text-center">
                <h:graphicImage value="images/ikea-logo_4e42121a4ea23.jpg" height="100px"/>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <div class="form-group">
                        <h:inputText styleClass="form-control" pt:placeholder="Enter product code" value="#{productPriceController.productCode}"/>
                    </div>
                    <div>
                        <h:commandLink styleClass="btn btn-info btn-block" value="Search" action="#{productPriceController.searchOnIkeaSite}"/>
                    </div>

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h:dataTable rendered="#{not empty productPriceController.priceList}" value="#{productPriceController.priceList}" var="priceItem" styleClass="table table-responsive">
                <h:column>
                    <f:facet name="header">Country</f:facet>
                    #{priceItem.country}
                </h:column>
                <h:column>
                    <f:facet name="header">Price in local currency</f:facet>
                    #{priceItem.priceTag}
                </h:column>
                <h:column>
                    <f:facet name="header">Price in EUR using ECB rate</f:facet>
                    <h:outputText value="#{priceItem.priceInEur}">
                        <f:convertNumber pattern="#0.00" currencyCode="EUR"/>
                    </h:outputText>
                </h:column>
                <h:column>
                    <f:facet name="header">Original link</f:facet>
                    <h:outputLink value="#{priceItem.itemUrl}" target="_blank">
                        #{priceItem.itemUrl}
                    </h:outputLink>
                </h:column>
            </h:dataTable>
        </div>
        <div class="col-md-3"></div>
    </h:form>
</h:body>
</f:view>
</html>
 
